.outside{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
.hero{
    background-image: url('/src/assets/Banner/b6.jpg');
    background-color: aqua;
    border-radius: 20px;
    min-height: 40vh;
    overflow: hidden;
}

.inner2 img, .inner3 img, .inner4 img {
    height: auto;
}

#largeImage{
    height: 50%;
    width: 50%;
}

#largeImage:hover{
    transition: all 5s ease;
    transform: scale(1.2);
    transform: skew(180deg);
    overflow: hidden;
}

.inner1{
    height: 500px;
    /* width: 70%; */
    border: 2px solid red;
    margin-right: 10px;
}

.small{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 10;
}

.inner2{
    border: 2px solid blue;
    height: 200px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 20px;
}
.inner3{
    border: 2px solid blue;
    height: 190px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 20px;
}
.inner4{
    border: 2px solid blue;
    height: 180px;
    overflow: hidden;
    border-radius: 20px;
}

.inner2:hover{
    transition: all 3s ease;
    transform: scale(1.2);
  overflow: hidden;
}
.inner3:hover{
    transition: all 3s ease;
    transform: scale(1.2);
  overflow: hidden;
}
.inner4:hover{
    transition: all 3s ease;
    transform: scale(1.2);
  overflow: hidden;
}

#buttonID{
    box-shadow: 5px 10px orangered purple;
}

@media only screen and (max-width: 400px) {
    .outside {
      display: flex;
      flex-direction: column;
      height: 100%;
      border: 2px solid red;
    }
    .large{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        overflow: hidden;
        height: 50vh;
    }
    .large img {
        max-width: 100%;
        max-height: fit-content;
         /* display: none; */
       }

    .small{
        display: flex;
        flex-direction: column;
    }
    .large:hover{
        transition: all 3s ease;
        transform: scale(1.2);
      overflow: hidden;
  }
  .inner1:hover{
    transition: all 3s ease;
    transform: scale(1.2);
    transform-style: preserve-3d;
    overflow: hidden;
}
.inner2:hover{
    transition: all 3s ease;
    transform: scale(1.2);
    overflow: hidden;
}
.inner3:hover{
    transition: all 3s ease;
    transform: scale(1.2);
    overflow: hidden;
}
  }

  @media only screen and (min-width: 401px) and (max-width: 800px) {
    .outside {
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 2px solid red;
      }
      .large{
          display: flex;
          flex-direction: column-reverse;
          width: 100%;
          overflow: hidden;
          height: 50vh;
      }
      .large img {
          max-width: 100%;
          max-height: fit-content;
          /* display: none; */
        }
  
      .small{
          display: flex;
          flex-direction: column;
      }
      .large:hover{
          transition: all 3s ease;
          transform: scale(1.2);
        overflow: hidden;
    }
    .inner1:hover{
      transition: all 3s ease;
      transform: scale(1.2);
      transform-style: preserve-3d;
      overflow: hidden;
  }
  .inner2:hover{
      transition: all 3s ease;
      transform: scale(1.2);
      overflow: hidden;
  }
  .inner3:hover{
      transition: all 3s ease;
      transform: scale(1.2);
      overflow: hidden;
  }
  }
