#footer{
    background-color: black;
}

.footer-wrapper{
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    justify-content: space-between;
}

.footer-span {
    flex: 1;
}

@media only screen and (max-width: 400px) {
    #footer{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 401px) and (max-width: 800px) {
    #footer{
        display: flex;
        flex-direction: column;
    }
}